@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";



/* @plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #6C5CE7;
    --color-secondary: #00CEC9;
} */

@plugin "daisyui" {
    themes: light, dark;
}

/* LIGHT THEME */
@plugin "daisyui/theme" {
    name: "light";
    default: true;

    --color-primary: #6C5CE7;
    --color-secondary: #03373D;
    --color-base-100: #ffffff;
    --color-base-200: #f5f5f5;
    --color-base-content: #1f2937;
}

/* DARK THEME */
@plugin "daisyui/theme" {
    name: "dark";

    --color-primary: #6C5CE7;
    --color-secondary: #8bd3dd;
    --color-base-100: #0f172a;
    --color-base-200: #020617;
    --color-base-content: #e5e7eb;
}

body {
    font-family: "Urbanist", sans-serif;
}